.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 8%;
  display: flex;
  align-items: center;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto; /* 👈 ahora sí, correcto */
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.logo span {
  color: var(--gold);
}

/* Menu */
.menu {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.menu li a:hover {
  color: var(--gold);
}

/* Botón */
.btn-contact {
  background: var(--gold);
  color: black;
  padding: 8px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-contact:hover {
  background: var(--dark-gold);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.logo img {
  height: 55px;
  filter: brightness(0) invert(1);
  opacity: 0.9;
}