<section class="hero">

  <!-- LOGO -->
  <div class="top-logo">
    <img src="logo.png" alt="logo">
  </div>

  <!-- CONTENIDO CENTRAL -->
  <div class="hero-center">

    <img src="saxofonista_text.png" class="title-img" alt="Saxofonista">

    <h2 class="subtitle">para todo tipo de eventos</h2>

    <!-- CONTACTO -->
    <div class="contact-bar">

    <a href="https://wa.me/51924367284" target="_blank" class="contact-btn">
        <span class="icon">
        <i class="fab fa-whatsapp"></i>
        </span>
        <span class="text">(+51) 924 367 284</span>
    </a>

    <div class="social">
        <span class="user">&#64;dsaxproducciones</span>

        <span class="icons">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-youtube"></i>
        </span>
    </div>

    </div>

  </div>

</section>
<section class="about">
  <div class="about-container">
    
    <h2 class="about-title">Quiénes somos</h2>

    <p>
      Somos una empresa peruana con sede en Lima, especializada en brindar música instrumental en saxofón para todo tipo de eventos, con un enfoque especial en bodas, quinceaños, cócteles, brunch, eventos corporativos, restaurantes, hoteles y más.
    </p>

    <p>
      Contamos con más de 12 años de experiencia musical y 5 años consolidándonos como marca, ofreciendo un servicio de alta calidad en cada presentación.
    </p>

    <p>
      Disponemos de tres saxofones profesionales de la familia: alto, soprano y tenor, adaptándonos al estilo y ambiente de cada evento. Nuestro repertorio es completamente personalizado, abarcando géneros como latin pop, boleros, baladas, cumbias, bachatas, rock, cumbia tropical, entre otros.
    </p>

    <p>
      También llegamos a distintos lugares del Perú como Lima, Ica, Arequipa, Tacna, Chiclayo, Trujillo, Puno, Piura, Huánuco, Cusco, entre otros.
    </p>

  </div>
</section>



